<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Change password</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
<script src={{ url_for('static', filename='js/changePassword.js') }}></script>

{% for message in get_flashed_messages() %}
    <div class="alert alert-warning" role="alert">
		{{ message }}
	</div>
{% endfor %}
<a class="btn btn-primary" href="{{ url_for('profileHome') }}">< Back to Profile</a>
<div class="container">
	<div class="card text-center">
		<div class="card-body">
			<h5 class="card-title">Change Your Password</h5>
			<form action={{ url_for('changePassword') }} method="POST" onsubmit="return validate()">
				<p>Old Password: <input type="password" name="oldpassword"></p>
				<p>New Password: <input type="password" name="newpassword" id="newpassword"></p>
				<p>Confirm Password: <input type="password" name="cpassword" id="cpassword"></p>
				<input type="submit" value="Save">
			</form>
		</div>
	</div>
</div>
	<footer class="text-center">
        {% block footer %}
        <br>
        <span class="border-top">
            <small> &copy; 2020–<script>document.write(new Date().getFullYear())</script> <a href="#" title="Written by Marco Sze">Sze Pak Hou</a>
            </small>
        </span>
        {% endblock %}
    </footer>
</body>
</html>


